<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/vvv.jpeg">
    <title>404</title>
</head>
<body>
    {{>header}}
    <p class="h1">{{name}}</p>
    </div></div>
    {{>footer}}
    
</body>
</html>