<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/vvv.jpeg">
    <title>Help</title>
</head>
<body>
    {{>header}}
    <link rel="stylesheet" href="/css/help.css">
    <p class="h2">{{ desc }}</p>
    </div></div>
    {{>footer}}
</body>
</html>